@page "/"

<PageTitle>Index</PageTitle>
<div class="container">
 
<h1 class="text-center mt-4 mb-4">Hospital / Consultorio</h1>
 
 <h3 class="text-center mt-4 mb-4"> Sistema de Gerenciamento de Fichas Médicas para Hospital.</h3>

    <h5 class="text-center mt-4 mb-4" >**** Para iniciar teste User: adm / Senha :123.</h5>
 
</div>